---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export const prerender = true;

export const getStaticPaths = async () =>
  (await getCollection("learn")).map((page) => ({
    params: { slug: page.id },
    props: { page }
  }));

const { page } = Astro.props;
const { Content, headings } = await render(page);
---

<Layout id={page.id} title={page.data.title} headings={headings}>
  <article>
    <h1>{page.data.title}</h1>
    <Content />
  </article>
</Layout>
