---
import Layout from "../../layouts/Layout.astro";
import { getEntry, render } from "astro:content";

export const prerender = true;

const entry = await getEntry("learn", "grammar/introduction");

if (typeof entry === `undefined`) throw new Error(`Unable to load page`);

const { Content, headings } = await render(entry);
---

<Layout id={entry?.id} title={entry?.data.title} headings={headings}>
  <article>
    <h1>{entry?.data.title}</h1>
    <Content />
  </article>
</Layout>
