@font-face {
  font-family: "Mona Sans";
  src:
    url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "UDDigiKyokasho StdN";
  font-weight: normal;
  font-style: normal;
  src:
    local("UD Digi Kyokasho NK-R"),
    local("UDDigiKyokashoStdN-Regular"),
    url("/fonts/UDDigiKyokashoStdN-Regular.otf") format("opentype");
}

@font-face {
  font-family: "UDDigiKyokasho StdN";
  font-weight: bold;
  font-style: normal;
  src:
    local("UD Digi Kyokasho NK-B"),
    local("UDDigiKyokashoStdN-Bold"),
    url("/fonts/UDDigiKyokashoStdN-Bold.otf") format("opentype");
}

:root {
  --family-body: "Nunito Variable", "UDDigiKyokasho StdN";
  --family-display: "Mona Sans";
  --font-kbd: "Inter Variable", sans-serif;
  --font-base: 24px;
  --scale: 1.125;

  --fs-25: calc(var(--fs-50) / var(--scale));
  --fs-50: calc(var(--fs-75) / var(--scale));
  --fs-75: calc(var(--fs-100) / var(--scale));
  --fs-100: calc(var(--fs-200) / var(--scale));
  --fs-200: calc(var(--fs-300) / var(--scale));
  --fs-300: calc(var(--fs-400) / var(--scale));
  --fs-400: var(--font-base);
  --fs-500: calc(var(--fs-400) * var(--scale));
  --fs-600: calc(var(--fs-500) * var(--scale));
  --fs-700: calc(var(--fs-600) * var(--scale));
  --fs-800: calc(var(--fs-700) * var(--scale));
  --fs-900: calc(var(--fs-800) * var(--scale));
  --fs-950: calc(var(--fs-900) * var(--scale));

  /* Header Font Sizes */
  --hu: var(--fs-950);
  --hh: var(--fs-900);
  --hl: var(--fs-800);
  --hm: var(--fs-700);
  --hs: var(--fs-600);
  --ht: var(--fs-500);

  /* Body Font Sizes */
  --bh: var(--fs-700);
  --bl: var(--fs-600);
  --bm: var(--fs-500);
  --bs: var(--fs-400);
  --bt: var(--fs-300);
  --bn: var(--fs-200);

  /* Label Font Sizes */
  --ll: var(--fs-200);
  --lm: var(--fs-100);
  --ls: var(--fs-75);
  --lt: var(--fs-50);
  --ln: var(--fs-25);
}
