h1,
h2,
h3,
h4,
h5,
h6 {
  font: 700 var(--fs-heading) / 1.3 var(--family-display);
  margin-block: calc(var(--fs-heading) / 1.125) calc(var(--fs-heading) * 0.25);
  text-wrap: pretty;

  a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: initial;
    }
  }
}

h2 {
  --fs-heading: var(--hh);
  font-weight: 600;
}

h3 {
  --fs-heading: var(--hl);
  font-weight: 600;
}

h4 {
  --fs-heading: var(--hm);
  font-weight: 500;
}

h5 {
  --fs-heading: var(--hs);
  font-weight: 500;
}

h6 {
  --fs-heading: var(--ht);
  font-weight: 500;
}
