:root {
  --amber-25: oklch(98.96% 0.005 67.77);
  --amber-50: oklch(97.35% 0.01 67.77);
  --amber-100: oklch(95.12% 0.017 67.62);
  --amber-200: oklch(92% 0.041 67.27);
  --amber-300: oklch(85.83% 0.078 66.47);
  --amber-400: oklch(79.5% 0.114 66.15);
  --amber-500: oklch(73.3% 0.152 66.99);
  --amber-600: oklch(61.92% 0.136 67.04);
  --amber-700: oklch(52.7% 0.116 66.42);
  --amber-800: oklch(41.47% 0.091 66.83);
  --amber-900: oklch(30.31% 0.066 67.42);
  --amber-950: oklch(19.18% 0.04 66.41);

  --amber-a25: oklch(61.77% 0.1569 64.96 / 0.028);
  --amber-a50: oklch(55.45% 0.1606 52.64 / 0.059);
  --amber-a100: oklch(53.89% 0.1496 56.24 / 0.106);
  --amber-a200: oklch(63.55% 0.1781 55.49 / 0.204);
  --amber-a300: oklch(64.75% 0.1813 55.59 / 0.373);
  --amber-a400: oklch(64.45% 0.1811 55.43 / 0.546);
  --amber-a500: oklch(65.52% 0.1783 58.44 / 0.75);
  --amber-a600: oklch(55.02% 0.1472 60.23 / 0.84);
  --amber-a700: oklch(46.27% 0.1226 61.23 / 0.879);
  --amber-a800: oklch(36.57% 0.0953 63.23 / 0.926);
  --amber-a900: oklch(27.29% 0.0694 66.36 / 0.965);
  --amber-a950: oklch(17.94% 0.0443 71.29 / 0.989);

  &.dark {
    --amber-25: oklch(22.11% 0.045 63.57);
    --amber-50: oklch(32.96% 0.067 63.87);
    --amber-100: oklch(38.6% 0.079 64.1);
    --amber-200: oklch(43.11% 0.086 64.26);
    --amber-300: oklch(56.4% 0.122 65.5);
    --amber-400: oklch(64.25% 0.142 66.58);
    --amber-500: oklch(73.25% 0.161 67);
    --amber-600: oklch(80.2% 0.13 66.65);
    --amber-700: oklch(86.5% 0.09 66.25);
    --amber-800: oklch(92.76% 0.05 66);
    --amber-900: oklch(96.91% 0.02 65.75);
    --amber-950: oklch(99.12% 0.005 65.6);

    --amber-a25: oklch(67.83% 0.2631 35.74 / 0.089);
    --amber-a50: oklch(76.37% 0.2078 56.57 / 0.232);
    --amber-a100: oklch(77.97% 0.1978 59.72 / 0.311);
    --amber-a200: oklch(79.49% 0.1877 62.32 / 0.374);
    --amber-a300: oklch(79.99% 0.1862 63.86 / 0.585);
    --amber-a400: oklch(80.48% 0.1852 65.59 / 0.715);
    --amber-a500: oklch(81.18% 0.1812 66.97 / 0.862);
    --amber-a600: oklch(85.23% 0.138 66.83 / 0.916);
    --amber-a700: oklch(89.58% 0.094 66.51 / 0.95);
    --amber-a800: oklch(94.19% 0.0509 66.53 / 0.979);
    --amber-a900: oklch(97.55% 0.0208 65.95 / 0.992);
    --amber-a950: oklch(99.48% 0.0051 74.48 / 0.996);
  }
}
