:root {
  --blue-25: oklch(98.86% 0.005 228.82);
  --blue-50: oklch(97.25% 0.01 228.82);
  --blue-100: oklch(94.95% 0.017 242.42);
  --blue-200: oklch(91.65% 0.042 239.43);
  --blue-300: oklch(84.93% 0.078 240.21);
  --blue-400: oklch(78.32% 0.114 239.93);
  --blue-500: oklch(71.97% 0.152 239.92);
  --blue-600: oklch(60.43% 0.136 240.16);
  --blue-700: oklch(51.72% 0.117 240.44);
  --blue-800: oklch(40.75% 0.09 239.55);
  --blue-900: oklch(29.79% 0.065 238.78);
  --blue-950: oklch(18.67% 0.04 239.77);

  --blue-a25: oklch(59.18% 0.179 241.3 / 0.024);
  --blue-a50: oklch(52.33% 0.1608 241.8 / 0.055);
  --blue-a100: oklch(49.63% 0.1702 247.7 / 0.095);
  --blue-a200: oklch(58.83% 0.2092 249 / 0.181);
  --blue-a300: oklch(59.19% 0.2107 249 / 0.334);
  --blue-a400: oklch(59.6% 0.2088 248.3 / 0.487);
  --blue-a500: oklch(60.56% 0.2075 247.2 / 0.655);
  --blue-a600: oklch(49.28% 0.1657 246.3 / 0.757);
  --blue-a700: oklch(40.65% 0.1368 246.4 / 0.808);
  --blue-a800: oklch(31.77% 0.1001 243 / 0.871);
  --blue-a900: oklch(23.58% 0.0713 240.6 / 0.93);
  --blue-a950: oklch(16.48% 0.0463 235.6 / 0.981);

  &.dark {
    --blue-25: oklch(17.22% 0.032 241.5);
    --blue-50: oklch(30.97% 0.065 241.25);
    --blue-100: oklch(36.7% 0.081 241);
    --blue-200: oklch(41.74% 0.091 240.75);
    --blue-300: oklch(53.61% 0.121 240.5);
    --blue-400: oklch(63.25% 0.143 240.25);
    --blue-500: oklch(71.32% 0.162 240);
    --blue-600: oklch(78.52% 0.122 239.75);
    --blue-700: oklch(84.94% 0.083 239.5);
    --blue-800: oklch(91.78% 0.044 239.25);
    --blue-900: oklch(96.33% 0.019 239);
    --blue-950: oklch(98.92% 0.005 238.75);

    --blue-a25: oklch(46.75% 0.3166 263.9 / 0.047);
    --blue-a50: oklch(67.48% 0.2004 244.1 / 0.248);
    --blue-a100: oklch(69% 0.1918 242.9 / 0.341);
    --blue-a200: oklch(70.16% 0.1841 242.8 / 0.425);
    --blue-a300: oklch(71.98% 0.1742 241.2 / 0.635);
    --blue-a400: oklch(73% 0.1692 239.9 / 0.807);
    --blue-a500: oklch(73.02% 0.1669 240 / 0.963);
    --blue-a600: oklch(79.78% 0.1239 240 / 0.979);
    --blue-a700: oklch(85.95% 0.0839 240.8 / 0.984);
    --blue-a800: oklch(92.73% 0.0435 238.1 / 0.988);
    --blue-a900: oklch(96.69% 0.0197 237.5 / 0.996);
    --blue-a950: oklch(99.22% 0.0049 231.7 / 0.996);
  }
}
