:root {
  --cyan-25: oklch(98.78% 0.004 179.74);
  --cyan-50: oklch(97.17% 0.009 179.74);
  --cyan-100: oklch(94.82% 0.018 179.34);
  --cyan-200: oklch(91.28% 0.042 179.76);
  --cyan-300: oklch(84.42% 0.078 180.34);
  --cyan-400: oklch(77.34% 0.114 180.03);
  --cyan-500: oklch(70.41% 0.128 180.24);
  --cyan-600: oklch(59.13% 0.107 180);
  --cyan-700: oklch(50.69% 0.092 179.86);
  --cyan-800: oklch(39.62% 0.072 179.89);
  --cyan-900: oklch(28.78% 0.052 180.59);
  --cyan-950: oklch(18.3% 0.034 177.3);

  --cyan-a25: oklch(53.05% 0.1507 165.1 / 0.024);
  --cyan-a50: oklch(47.35% 0.1183 177.6 / 0.055);
  --cyan-a100: oklch(52.18% 0.1472 166.4 / 0.102);
  --cyan-a200: oklch(59.84% 0.1636 168.8 / 0.197);
  --cyan-a300: oklch(60.86% 0.1613 171.6 / 0.365);
  --cyan-a400: oklch(60.94% 0.1591 173.2 / 0.542);
  --cyan-a500: oklch(58.47% 0.1499 175 / 0.679);
  --cyan-a600: oklch(46.26% 0.1196 174.2 / 0.75);
  --cyan-a700: oklch(38.5% 0.0982 175.6 / 0.804);
  --cyan-a800: oklch(29.93% 0.0757 176.5 / 0.871);
  --cyan-a900: oklch(22.2% 0.0547 179.7 / 0.93);
  --cyan-a950: oklch(16.01% 0.0405 176.6 / 0.981);

  &.dark {
    --cyan-25: oklch(19.33% 0.035 181.5);
    --cyan-50: oklch(30.24% 0.048 181.25);
    --cyan-100: oklch(36.1% 0.063 181);
    --cyan-200: oklch(41.49% 0.073 180.75);
    --cyan-300: oklch(53.63% 0.097 180.5);
    --cyan-400: oklch(63.25% 0.105 180.25);
    --cyan-500: oklch(70.99% 0.128 180);
    --cyan-600: oklch(77.57% 0.121 179.75);
    --cyan-700: oklch(84.22% 0.103 179.5);
    --cyan-800: oklch(91.23% 0.063 179.25);
    --cyan-900: oklch(96.28% 0.033 179);
    --cyan-950: oklch(98.9% 0.009 178.75);

    --cyan-a25: oklch(86.1% 0.2573 162.5 / 0.034);
    --cyan-a50: oklch(88.52% 0.2017 179.1 / 0.152);
    --cyan-a100: oklch(88.96% 0.1983 178 / 0.227);
    --cyan-a200: oklch(89.34% 0.1906 179.3 / 0.295);
    --cyan-a300: oklch(89.88% 0.1795 180.1 / 0.458);
    --cyan-a400: oklch(90.79% 0.1608 179.8 / 0.585);
    --cyan-a500: oklch(90.4% 0.1686 179.9 / 0.702);
    --cyan-a600: oklch(91.47% 0.1469 179.3 / 0.786);
    --cyan-a700: oklch(93.1% 0.1159 180.3 / 0.866);
    --cyan-a800: oklch(95.82% 0.0672 178.5 / 0.933);
    --cyan-a900: oklch(97.85% 0.0336 177.8 / 0.979);
    --cyan-a950: oklch(99.44% 0.0086 176.1 / 0.992);
  }
}
