:root {
  --gray-25: oklch(98.85% 0.005 274.97);
  --gray-50: oklch(97.35% 0.009 274.97);
  --gray-100: oklch(95.11% 0.016 278.51);
  --gray-200: oklch(92.28% 0.015 273.84);
  --gray-300: oklch(86.16% 0.015 273.82);
  --gray-400: oklch(80.05% 0.017 278.44);
  --gray-500: oklch(74.22% 0.016 273.78);
  --gray-600: oklch(62.75% 0.015 272.57);
  --gray-700: oklch(53.56% 0.016 272.51);
  --gray-800: oklch(42.08% 0.015 271.03);
  --gray-900: oklch(30.69% 0.016 275.5);
  --gray-950: oklch(19.3% 0.017 273.82);

  --gray-a25: oklch(44.1% 0.2435 261.9 / 0.02);
  --gray-a50: oklch(38.22% 0.2349 263.9 / 0.04);
  --gray-a100: oklch(37.13% 0.2302 263.4 / 0.075);
  --gray-a200: oklch(27.09% 0.1604 262.9 / 0.11);
  --gray-a300: oklch(19.83% 0.1054 263.2 / 0.189);
  --gray-a400: oklch(16.88% 0.0883 262.5 / 0.267);
  --gray-a500: oklch(14.7% 0.067 260.9 / 0.338);
  --gray-a600: oklch(12.48% 0.0494 259.9 / 0.475);
  --gray-a700: oklch(11.19% 0.0447 253.3 / 0.581);
  --gray-a800: oklch(10% 0.0382 251.7 / 0.706);
  --gray-a900: oklch(9.756% 0.0344 248.5 / 0.824);
  --gray-a950: oklch(8.921% 0.0361 253.7 / 0.93);

  &.dark {
    --gray-25: oklch(17.02% 0.018 274.5);
    --gray-50: oklch(31.09% 0.017 274.25);
    --gray-100: oklch(36.65% 0.016 274);
    --gray-200: oklch(42.22% 0.015 273.75);
    --gray-300: oklch(54.37% 0.015 273.5);
    --gray-400: oklch(64.22% 0.016 273.25);
    --gray-500: oklch(72.24% 0.016 273);
    --gray-600: oklch(78.98% 0.017 272.75);
    --gray-700: oklch(85.27% 0.015 272.5);
    --gray-800: oklch(91.83% 0.015 272.25);
    --gray-900: oklch(96.73% 0.01 272);
    --gray-950: oklch(98.7% 0.005 271.75);

    --gray-a25: oklch(45.66% 0.3164 264.1 / 0.026);
    --gray-a50: oklch(84.56% 0.0818 272.9 / 0.169);
    --gray-a100: oklch(88.84% 0.0595 273.2 / 0.227);
    --gray-a200: oklch(91.94% 0.0425 272.6 / 0.286);
    --gray-a300: oklch(93.97% 0.0316 273.4 / 0.433);
    --gray-a400: oklch(95.13% 0.0255 273.6 / 0.559);
    --gray-a500: oklch(95.58% 0.0229 268.8 / 0.664);
    --gray-a600: oklch(95.93% 0.0211 271.2 / 0.757);
    --gray-a700: oklch(96.54% 0.018 273 / 0.837);
    --gray-a800: oklch(97.08% 0.0151 270.6 / 0.925);
    --gray-a900: oklch(97.96% 0.0105 271.3 / 0.984);
    --gray-a950: oklch(99.12% 0.0045 269.1 / 0.996);
  }
}
