:root {
  --green-25: oklch(98.84% 0.006 128.52);
  --green-50: oklch(97.23% 0.01 128.52);
  --green-100: oklch(94.81% 0.017 125.29);
  --green-200: oklch(91.45% 0.043 123.16);
  --green-300: oklch(84.78% 0.077 123.26);
  --green-400: oklch(78.16% 0.114 123.09);
  --green-500: oklch(71.54% 0.152 123.3);
  --green-600: oklch(60.42% 0.136 123.24);
  --green-700: oklch(51.58% 0.116 123.31);
  --green-800: oklch(40.29% 0.09 123.4);
  --green-900: oklch(29.68% 0.066 122.83);
  --green-950: oklch(18.77% 0.04 122.76);

  --green-a25: oklch(58.77% 0.209 137.6 / 0.028);
  --green-a50: oklch(47.47% 0.1695 137.4 / 0.055);
  --green-a100: oklch(47.77% 0.1556 132.4 / 0.102);
  --green-a200: oklch(57.85% 0.1848 130.9 / 0.2);
  --green-a300: oklch(57.65% 0.1783 128.9 / 0.357);
  --green-a400: oklch(58.37% 0.1793 128.3 / 0.522);
  --green-a500: oklch(59.81% 0.1808 127.2 / 0.702);
  --green-a600: oklch(49.8% 0.148 126 / 0.793);
  --green-a700: oklch(41.73% 0.1232 125.5 / 0.84);
  --green-a800: oklch(32.13% 0.0944 125.1 / 0.895);
  --green-a900: oklch(24.88% 0.0718 123.7 / 0.946);
  --green-a950: oklch(16.94% 0.0482 122.5 / 0.985);

  &.dark {
    --green-25: oklch(20.75% 0.045 126.5);
    --green-50: oklch(32.5% 0.065 126.25);
    --green-100: oklch(37.2% 0.078 126);
    --green-200: oklch(42.15% 0.098 125.75);
    --green-300: oklch(55.33% 0.12 125.5);
    --green-400: oklch(63.49% 0.153 125.25);
    --green-500: oklch(72.17% 0.164 125);
    --green-600: oklch(78.26% 0.147 124.75);
    --green-700: oklch(84.78% 0.105 124.5);
    --green-800: oklch(91.56% 0.067 124.25);
    --green-900: oklch(96.58% 0.035 124);
    --green-950: oklch(99.1% 0.007 123.75);

    --green-a25: oklch(84.93% 0.3403 142.5 / 0.043);
    --green-a50: oklch(91.14% 0.2635 128.9 / 0.169);
    --green-a100: oklch(91.78% 0.254 128.4 / 0.227);
    --green-a200: oklch(91.95% 0.2563 127.4 / 0.29);
    --green-a300: oklch(93.1% 0.2222 125.6 / 0.454);
    --green-a400: oklch(92.74% 0.2373 125.7 / 0.572);
    --green-a500: oklch(93.19% 0.2207 125.4 / 0.69);
    --green-a600: oklch(94.21% 0.1815 124.9 / 0.765);
    --green-a700: oklch(95.84% 0.1206 125 / 0.837);
    --green-a800: oklch(97.44% 0.0725 123.7 / 0.916);
    --green-a900: oklch(98.66% 0.0351 124.8 / 0.971);
    --green-a950: oklch(99.68% 0.0077 126.8 / 0.992);
  }
}
