:root {
  --indigo-25: oklch(98.77% 0.006 264.53);
  --indigo-50: oklch(97.16% 0.01 264.53);
  --indigo-100: oklch(95.01% 0.017 259.42);
  --indigo-200: oklch(91.8% 0.039 260.15);
  --indigo-300: oklch(85.3% 0.073 260.71);
  --indigo-400: oklch(78.85% 0.107 260.28);
  --indigo-500: oklch(72.6% 0.142 259.95);
  --indigo-600: oklch(61.37% 0.136 260.14);
  --indigo-700: oklch(52.34% 0.116 259.75);
  --indigo-800: oklch(41.16% 0.092 260.08);
  --indigo-900: oklch(30.2% 0.066 259.1);
  --indigo-950: oklch(19.18% 0.04 259.75);

  --indigo-a25: oklch(54.63% 0.2703 259.6 / 0.024);
  --indigo-a50: oklch(44.81% 0.2159 259.4 / 0.048);
  --indigo-a100: oklch(44.86% 0.2044 257.6 / 0.087);
  --indigo-a200: oklch(51.04% 0.2581 259.8 / 0.153);
  --indigo-a300: oklch(51.87% 0.2621 259.7 / 0.275);
  --indigo-a400: oklch(51.77% 0.2609 259.7 / 0.397);
  --indigo-a500: oklch(51.81% 0.2643 259.9 / 0.514);
  --indigo-a600: oklch(41.63% 0.2109 259.7 / 0.636);
  --indigo-a700: oklch(33.85% 0.1638 258.7 / 0.714);
  --indigo-a800: oklch(25.71% 0.1211 258.1 / 0.8);
  --indigo-a900: oklch(19.16% 0.0819 255.4 / 0.883);
  --indigo-a950: oklch(14.06% 0.0495 248.4 / 0.957);

  &.dark {
    --indigo-25: oklch(17.02% 0.036 261.5);
    --indigo-50: oklch(31.09% 0.075 261.25);
    --indigo-100: oklch(36.65% 0.091 261);
    --indigo-200: oklch(42.22% 0.101 260.75);
    --indigo-300: oklch(54.37% 0.128 260.5);
    --indigo-400: oklch(64.22% 0.142 260.25);
    --indigo-500: oklch(72.24% 0.144 260);
    --indigo-600: oklch(78.89% 0.107 259.75);
    --indigo-700: oklch(85.27% 0.072 259.5);
    --indigo-800: oklch(91.73% 0.039 259.25);
    --indigo-900: oklch(96.43% 0.016 259);
    --indigo-950: oklch(98.7% 0.005 258.75);

    --indigo-a25: oklch(46.5% 0.3222 264.1 / 0.055);
    --indigo-a50: oklch(62.48% 0.2181 260.2 / 0.278);
    --indigo-a100: oklch(64.3% 0.2047 259.7 / 0.379);
    --indigo-a200: oklch(66.71% 0.191 260 / 0.467);
    --indigo-a300: oklch(69.38% 0.1742 260.1 / 0.685);
    --indigo-a400: oklch(71.37% 0.1617 260.7 / 0.853);
    --indigo-a500: oklch(73.78% 0.1471 260.1 / 0.971);
    --indigo-a600: oklch(80.37% 0.108 259.5 / 0.975);
    --indigo-a700: oklch(86.48% 0.0727 260.6 / 0.979);
    --indigo-a800: oklch(92.6% 0.039 261 / 0.988);
    --indigo-a900: oklch(97.1% 0.0154 254.4 / 0.992);
    --indigo-a950: oklch(99.03% 0.0051 254.4 / 0.996);
  }
}
