:root {
  --lime-25: oklch(98.73% 0.004 106.47);
  --lime-50: oklch(97.12% 0.009 106.47);
  --lime-100: oklch(94.86% 0.017 106.72);
  --lime-200: oklch(91.66% 0.042 107.21);
  --lime-300: oklch(85.02% 0.078 107.15);
  --lime-400: oklch(78.56% 0.114 106.49);
  --lime-500: oklch(72.08% 0.152 106.64);
  --lime-600: oklch(60.8% 0.13 107.09);
  --lime-700: oklch(51.91% 0.111 106.49);
  --lime-800: oklch(40.73% 0.087 106.21);
  --lime-900: oklch(29.87% 0.064 105.82);
  --lime-950: oklch(19.07% 0.041 107.49);

  --lime-a25: oklch(52.95% 0.132 110.2 / 0.028);
  --lime-a50: oklch(49.57% 0.1254 110.2 / 0.059);
  --lime-a100: oklch(51.93% 0.1315 110.2 / 0.11);
  --lime-a200: oklch(61.11% 0.1549 110.2 / 0.212);
  --lime-a300: oklch(61.42% 0.1539 108.5 / 0.385);
  --lime-a400: oklch(62.37% 0.155 106.8 / 0.565);
  --lime-a500: oklch(64.48% 0.1594 105.8 / 0.781);
  --lime-a600: oklch(53.13% 0.132 106.8 / 0.84);
  --lime-a700: oklch(44.86% 0.1115 106.8 / 0.879);
  --lime-a800: oklch(35.46% 0.0881 106.8 / 0.926);
  --lime-a900: oklch(26.96% 0.0671 107 / 0.969);
  --lime-a950: oklch(18.15% 0.0453 107.6 / 0.993);

  &.dark {
    --lime-25: oklch(21.14% 0.045 112.75);
    --lime-50: oklch(31.9% 0.065 112.5);
    --lime-100: oklch(37.8% 0.078 112.25);
    --lime-200: oklch(41.8% 0.086 112);
    --lime-300: oklch(55.33% 0.12 111.5);
    --lime-400: oklch(63.77% 0.14 111);
    --lime-500: oklch(72.51% 0.156 110);
    --lime-600: oklch(79.17% 0.13 108.5);
    --lime-700: oklch(85.6% 0.105 107.21);
    --lime-800: oklch(92.18% 0.065 106.67);
    --lime-900: oklch(96.85% 0.035 106.57);
    --lime-950: oklch(99.11% 0.007 106.47);

    --lime-a25: oklch(93.95% 0.2551 118.2 / 0.038);
    --lime-a50: oklch(95.35% 0.2484 114.3 / 0.156);
    --lime-a100: oklch(95.41% 0.2411 114.3 / 0.223);
    --lime-a200: oklch(95.65% 0.2336 113.7 / 0.269);
    --lime-a300: oklch(96.21% 0.2271 111.7 / 0.433);
    --lime-a400: oklch(96.34% 0.2231 111.3 / 0.543);
    --lime-a500: oklch(96.57% 0.2163 110.6 / 0.66);
    --lime-a600: oklch(97.11% 0.164 108.6 / 0.744);
    --lime-a700: oklch(97.44% 0.1226 107.2 / 0.832);
    --lime-a800: oklch(98.46% 0.0699 106.5 / 0.912);
    --lime-a900: oklch(99.01% 0.0346 107 / 0.967);
    --lime-a950: oklch(99.85% 0.0072 106.5 / 0.992);
  }
}
