:root {
  --mauve-25: oklch(98.74% 0.008 325.64);
  --mauve-50: oklch(97.24% 0.008 325.64);
  --mauve-100: oklch(95.14% 0.008 325.64);
  --mauve-200: oklch(92.12% 0.009 325.65);
  --mauve-300: oklch(86.19% 0.007 325.64);
  --mauve-400: oklch(80.08% 0.009 325.66);
  --mauve-500: oklch(74.25% 0.007 325.65);
  --mauve-600: oklch(62.81% 0.008 325.67);
  --mauve-700: oklch(53.62% 0.008 325.69);
  --mauve-800: oklch(42.05% 0.006 325.69);
  --mauve-900: oklch(30.69% 0.009 325.79);
  --mauve-950: oklch(19.21% 0.009 317.68);

  --mauve-a25: oklch(57.09% 0.2928 320 / 0.024);
  --mauve-a50: oklch(35.71% 0.1722 331.4 / 0.044);
  --mauve-a100: oklch(25.46% 0.1224 331.4 / 0.071);
  --mauve-a200: oklch(20.15% 0.1002 322.2 / 0.11);
  --mauve-a300: oklch(14.03% 0.0651 322.7 / 0.185);
  --mauve-a400: oklch(13.31% 0.0604 323.8 / 0.263);
  --mauve-a500: oklch(11.32% 0.0472 323.7 / 0.334);
  --mauve-a600: oklch(10.21% 0.0389 324 / 0.471);
  --mauve-a700: oklch(8.99% 0.0452 327.9 / 0.577);
  --mauve-a800: oklch(7.24% 0.0368 324.8 / 0.702);
  --mauve-a900: oklch(7.911% 0.04 326.3 / 0.82);
  --mauve-a950: oklch(6.664% 0.035 315.3 / 0.926);

  &.dark {
    --mauve-25: oklch();
    --mauve-50: oklch();
    --mauve-100: oklch();
    --mauve-200: oklch();
    --mauve-300: oklch();
    --mauve-400: oklch();
    --mauve-500: oklch();
    --mauve-600: oklch();
    --mauve-700: oklch();
    --mauve-800: oklch();
    --mauve-900: oklch();
    --mauve-950: oklch();

    --mauve-a25: oklch();
    --mauve-a50: oklch();
    --mauve-a100: oklch();
    --mauve-a200: oklch();
    --mauve-a300: oklch();
    --mauve-a400: oklch();
    --mauve-a500: oklch();
    --mauve-a600: oklch();
    --mauve-a700: oklch();
    --mauve-a800: oklch();
    --mauve-a900: oklch();
    --mauve-a950: oklch();
  }
}
