:root {
  --pink-25: oklch(98.87% 0.005 345.28);
  --pink-50: oklch(97.26% 0.01 345.28);
  --pink-100: oklch(95.26% 0.017 339.92);
  --pink-200: oklch(92.16% 0.041 339.65);
  --pink-300: oklch(86.4% 0.077 340.39);
  --pink-400: oklch(80.22% 0.115 339.75);
  --pink-500: oklch(74.38% 0.152 339.94);
  --pink-600: oklch(62.9% 0.136 340.35);
  --pink-700: oklch(53.77% 0.115 339.87);
  --pink-800: oklch(41.95% 0.092 339.51);
  --pink-900: oklch(30.7% 0.066 339.89);
  --pink-950: oklch(19.57% 0.041 339.54);

  --pink-a25: oklch(47.29% 0.2179 350.4 / 0.02);
  --pink-a50: oklch(43.48% 0.1948 1.003 / 0.044);
  --pink-a100: oklch(42.29% 0.1938 354.7 / 0.075);
  --pink-a200: oklch(52.06% 0.2436 348.3 / 0.138);
  --pink-a300: oklch(53.28% 0.2494 348.8 / 0.244);
  --pink-a400: oklch(53.65% 0.2521 347.6 / 0.357);
  --pink-a500: oklch(53.25% 0.2516 345.8 / 0.467);
  --pink-a600: oklch(40.29% 0.1906 345.9 / 0.585);
  --pink-a700: oklch(31.72% 0.1509 344.1 / 0.667);
  --pink-a800: oklch(23.98% 0.1143 343.4 / 0.773);
  --pink-a900: oklch(17.64% 0.0847 341.4 / 0.863);
  --pink-a950: oklch(12.53% 0.0606 339 / 0.946);

  &.dark {
    --pink-25: oklch(18.31% 0.062 338.5);
    --pink-50: oklch(32.24% 0.095 338.75);
    --pink-100: oklch(37.93% 0.118 339);
    --pink-200: oklch(43.53% 0.126 339.25);
    --pink-300: oklch(56.13% 0.158 339.5);
    --pink-400: oklch(64.98% 0.174 339.75);
    --pink-500: oklch(74.56% 0.175 340);
    --pink-600: oklch(80.59% 0.144 340.25);
    --pink-700: oklch(86.72% 0.095 340.5);
    --pink-800: oklch(92.57% 0.05 340.75);
    --pink-900: oklch(96.87% 0.02 341);
    --pink-950: oklch(98.98% 0.006 341.25);

    --pink-a25: oklch(68.15% 0.317 351.7 / 0.059);
    --pink-a50: oklch(73.26% 0.2945 340.3 / 0.244);
    --pink-a100: oklch(74.02% 0.2843 340.2 / 0.332);
    --pink-a200: oklch(76.06% 0.2562 340.3 / 0.412);
    --pink-a300: oklch(77.43% 0.236 339.9 / 0.61);
    --pink-a400: oklch(78.87% 0.2222 339.6 / 0.748);
    --pink-a500: oklch(81.14% 0.1933 339.8 / 0.883);
    --pink-a600: oklch(84.57% 0.1528 340 / 0.933);
    --pink-a700: oklch(89.5% 0.0985 340.5 / 0.954);
    --pink-a800: oklch(94.32% 0.0505 341.2 / 0.975);
    --pink-a900: oklch(97.7% 0.02 340.7 / 0.988);
    --pink-a950: oklch(99.24% 0.0069 337.3 / 0.996);
  }
}
