:root {
  --purple-25: oklch(98.78% 0.006 308.4);
  --purple-50: oklch(97.17% 0.011 308.4);
  --purple-100: oklch(95.27% 0.016 301.22);
  --purple-200: oklch(92.1% 0.043 300.26);
  --purple-300: oklch(85.95% 0.078 299.75);
  --purple-400: oklch(79.75% 0.115 299.89);
  --purple-500: oklch(73.85% 0.152 300.28);
  --purple-600: oklch(62.44% 0.137 300.21);
  --purple-700: oklch(53.19% 0.116 299.93);
  --purple-800: oklch(41.85% 0.091 299.2);
  --purple-900: oklch(30.75% 0.066 299.96);
  --purple-950: oklch(19.52% 0.042 300.08);

  --purple-a25: oklch(47.04% 0.2611 297.9 / 0.02);
  --purple-a50: oklch(38.99% 0.2197 292.9 / 0.044);
  --purple-a100: oklch(34.81% 0.2135 278.9 / 0.071);
  --purple-a200: oklch(46.15% 0.287 277.4 / 0.126);
  --purple-a300: oklch(45.62% 0.2832 277.9 / 0.22);
  --purple-a400: oklch(46.3% 0.2855 278.9 / 0.322);
  --purple-a500: oklch(46.72% 0.2825 282.1 / 0.42);
  --purple-a600: oklch(35.02% 0.2091 284.6 / 0.55);
  --purple-a700: oklch(27.23% 0.1615 285.8 / 0.64);
  --purple-a800: oklch(20.06% 0.1172 288.7 / 0.746);
  --purple-a900: oklch(14.94% 0.0851 294 / 0.844);
  --purple-a950: oklch(11.12% 0.0612 302.4 / 0.938);

  &.dark {
    --purple-25: oklch(18.61% 0.04 298.5);
    --purple-50: oklch(31.74% 0.075 298.75);
    --purple-100: oklch(37.65% 0.101 299);
    --purple-200: oklch(43.3% 0.109 299.25);
    --purple-300: oklch(55.21% 0.137 299.5);
    --purple-400: oklch(64.27% 0.155 299.75);
    --purple-500: oklch(73.73% 0.158 300);
    --purple-600: oklch(79.95% 0.115 300.25);
    --purple-700: oklch(85.95% 0.078 300.5);
    --purple-800: oklch(92.1% 0.043 300.75);
    --purple-900: oklch(96.75% 0.018 301);
    --purple-950: oklch(98.78% 0.006 301.25);

    --purple-a25: oklch(48.54% 0.3089 274.5 / 0.068);
    --purple-a50: oklch(65.84% 0.2234 295.8 / 0.265);
    --purple-a100: oklch(66.21% 0.2213 297 / 0.379);
    --purple-a200: oklch(69.1% 0.2067 299 / 0.463);
    --purple-a300: oklch(71.18% 0.189 298.8 / 0.669);
    --purple-a400: oklch(72.75% 0.1819 300 / 0.828);
    --purple-a500: oklch(75.18% 0.1619 299.8 / 0.967);
    --purple-a600: oklch(81.56% 0.1181 300.5 / 0.967);
    --purple-a700: oklch(87.42% 0.0798 299.9 / 0.975);
    --purple-a800: oklch(93.2% 0.0425 300.5 / 0.984);
    --purple-a900: oklch(97.05% 0.0179 299.2 / 0.996);
    --purple-a950: oklch(99.02% 0.006 299.4 / 0.996);
  }
}
