:root {
  --rose-25: oklch(98.84% 0.004 359.99);
  --rose-50: oklch(97.23% 0.009 359.99);
  --rose-100: oklch(95.28% 0.017 3.65);
  --rose-200: oklch(92.42% 0.042 359.33);
  --rose-300: oklch(86.28% 0.078 359.64);
  --rose-400: oklch(80.25% 0.114 0.29);
  --rose-500: oklch(74.39% 0.153 360);
  --rose-600: oklch(62.61% 0.136 359.69);
  --rose-700: oklch(53.47% 0.117 0.24);
  --rose-800: oklch(41.94% 0.092 359.77);
  --rose-900: oklch(30.64% 0.065 0);
  --rose-950: oklch(19.39% 0.041 359.58);

  --rose-a25: oklch(45.55% 0.2025 13.09 / 0.02);
  --rose-a50: oklch(42.36% 0.1894 22.49 / 0.044);
  --rose-a100: oklch(47.64% 0.2149 20.42 / 0.079);
  --rose-a200: oklch(57.09% 0.257 16.41 / 0.138);
  --rose-a300: oklch(56.86% 0.2563 16.57 / 0.248);
  --rose-a400: oklch(56.29% 0.2536 15.92 / 0.361);
  --rose-a500: oklch(56.15% 0.2529 14.84 / 0.475);
  --rose-a600: oklch(42.36% 0.191 12.86 / 0.597);
  --rose-a700: oklch(33.67% 0.1518 11.01 / 0.679);
  --rose-a800: oklch(25.36% 0.1145 8.086 / 0.781);
  --rose-a900: oklch(18.18% 0.0825 3.472 / 0.867);
  --rose-a950: oklch(12.88% 0.0591 357.3 / 0.95);

  &.dark {
    --rose-25: oklch(18.31% 0.062 358.5);
    --rose-50: oklch(32.24% 0.095 358.75);
    --rose-100: oklch(37.93% 0.118 359);
    --rose-200: oklch(43.53% 0.126 359.25);
    --rose-300: oklch(56.73% 0.158 359.5);
    --rose-400: oklch(65.25% 0.174 359.75);
    --rose-500: oklch(74.56% 0.168 360);
    --rose-600: oklch(80.59% 0.119 0.25);
    --rose-700: oklch(86.65% 0.076 0.5);
    --rose-800: oklch(92.54% 0.04 0.75);
    --rose-900: oklch(96.94% 0.016 1);
    --rose-950: oklch(98.84% 0.004 1.25);

    --rose-a25: oklch(64.78% 0.2971 26.55 / 0.072);
    --rose-a50: oklch(69.66% 0.2685 2.563 / 0.265);
    --rose-a100: oklch(70.27% 0.2634 1.536 / 0.362);
    --rose-a200: oklch(72.17% 0.2442 0.2602 / 0.446);
    --rose-a300: oklch(74.32% 0.2208 0.0127 / 0.66);
    --rose-a400: oklch(75.51% 0.208 0.044 / 0.803);
    --rose-a500: oklch(78.4% 0.1782 0.0384 / 0.929);
    --rose-a600: oklch(83.96% 0.1245 1.013 / 0.942);
    --rose-a700: oklch(89.1% 0.0811 0.4017 / 0.958);
    --rose-a800: oklch(94.35% 0.0404 359.7 / 0.975);
    --rose-a900: oklch(97.55% 0.0169 1.237 / 0.992);
    --rose-a950: oklch(99.39% 0.0043 356.3 / 0.992);
  }
}
