:root {
  --sky-25: oklch(98.83% 0.004 214.33);
  --sky-50: oklch(97.22% 0.009 214.33);
  --sky-100: oklch(94.72% 0.017 210.19);
  --sky-200: oklch(91.45% 0.042 209.67);
  --sky-300: oklch(84.63% 0.078 210.24);
  --sky-400: oklch(77.72% 0.114 210.36);
  --sky-500: oklch(70.84% 0.123 210.04);
  --sky-600: oklch(59.57% 0.103 210.28);
  --sky-700: oklch(50.88% 0.088 209.48);
  --sky-800: oklch(39.87% 0.069 210.43);
  --sky-900: oklch(29.05% 0.05 209.59);
  --sky-950: oklch(18.34% 0.032 209.81);

  --sky-a25: oklch(56.56% 0.1376 222.9 / 0.024);
  --sky-a50: oklch(49.92% 0.123 223.3 / 0.055);
  --sky-a100: oklch(50.69% 0.1198 216.8 / 0.106);
  --sky-a200: oklch(62.57% 0.1469 215.3 / 0.204);
  --sky-a300: oklch(63.3% 0.1498 216.8 / 0.377);
  --sky-a400: oklch(63.58% 0.1505 216.6 / 0.565);
  --sky-a500: oklch(59.55% 0.14 215.3 / 0.687);
  --sky-a600: oklch(47.27% 0.1103 213.6 / 0.753);
  --sky-a700: oklch(39.11% 0.0916 214.3 / 0.808);
  --sky-a800: oklch(30.67% 0.0709 210.8 / 0.875);
  --sky-a900: oklch(22.97% 0.0532 211.5 / 0.934);
  --sky-a950: oklch(16.11% 0.0369 207.5 / 0.981);

  &.dark {
    --sky-25: oklch(21.12% 0.032 211.5);
    --sky-50: oklch(30.97% 0.048 211.25);
    --sky-100: oklch(36.35% 0.063 211);
    --sky-200: oklch(42.45% 0.073 210.75);
    --sky-300: oklch(53.93% 0.093 210.5);
    --sky-400: oklch(63.25% 0.109 210.25);
    --sky-500: oklch(71.29% 0.122 210);
    --sky-600: oklch(78.02% 0.115 209.75);
    --sky-700: oklch(84.74% 0.091 209.5);
    --sky-800: oklch(91.58% 0.061 209.25);
    --sky-900: oklch(96.45% 0.032 209);
    --sky-950: oklch(99.04% 0.008 208.75);

    --sky-a25: oklch(74.25% 0.1857 224.9 / 0.064);
    --sky-a50: oklch(81.47% 0.1744 212.3 / 0.185);
    --sky-a100: oklch(80.98% 0.1735 212.9 / 0.261);
    --sky-a200: oklch(82.38% 0.1649 212.4 / 0.345);
    --sky-a300: oklch(84.15% 0.1577 209.8 / 0.509);
    --sky-a400: oklch(84.39% 0.1527 210.4 / 0.652);
    --sky-a500: oklch(85% 0.1498 209.6 / 0.774);
    --sky-a600: oklch(86.91% 0.1308 209.4 / 0.858);
    --sky-a700: oklch(90.12% 0.097 209.7 / 0.916);
    --sky-a800: oklch(93.52% 0.0622 210.1 / 0.971);
    --sky-a900: oklch(96.73% 0.0326 208.4 / 0.996);
    --sky-a950: oklch(98.97% 0.0085 215.7);
  }
}
