:root {
  --slate-25: oklch(98.85% 0.005 274.97);
  --slate-50: oklch(97.35% 0.009 274.97);
  --slate-100: oklch(95.11% 0.016 278.51);
  --slate-200: oklch(92.12% 0.025 275.9);
  --slate-300: oklch(86.2% 0.024 272.78);
  --slate-400: oklch(80.05% 0.024 275.28);
  --slate-500: oklch(74.31% 0.023 274.63);
  --slate-600: oklch(62.63% 0.024 277.24);
  --slate-700: oklch(53.43% 0.025 277.11);
  --slate-800: oklch(41.91% 0.024 275.8);
  --slate-900: oklch(30.78% 0.024 274.76);
  --slate-950: oklch(19.37% 0.023 272.36);

  --slate-a25: oklch(44.1% 0.2435 261.9 / 0.02);
  --slate-a50: oklch(38.22% 0.2349 263.9 / 0.04);
  --slate-a100: oklch(37.13% 0.2302 263.4 / 0.075);
  --slate-a200: oklch(36.37% 0.2272 263.3 / 0.118);
  --slate-a300: oklch(25.95% 0.1413 262.2 / 0.197);
  --slate-a400: oklch(20.03% 0.109 262.3 / 0.271);
  --slate-a500: oklch(17.44% 0.0872 261.4 / 0.342);
  --slate-a600: oklch(14.11% 0.0707 263.2 / 0.479);
  --slate-a700: oklch(12.43% 0.0609 259 / 0.585);
  --slate-a800: oklch(11.72% 0.0521 256.6 / 0.714);
  --slate-a900: oklch(10.4% 0.0439 255.1 / 0.824);
  --slate-a950: oklch(9.201% 0.04 255.9 / 0.93);

  &.dark {
    --slate-25: oklch(17.02% 0.023 276.5);
    --slate-50: oklch(31.09% 0.024 276.25);
    --slate-100: oklch(36.65% 0.024 276);
    --slate-200: oklch(42.22% 0.024 275.75);
    --slate-300: oklch(54.37% 0.025 275.5);
    --slate-400: oklch(64.22% 0.024 275.25);
    --slate-500: oklch(72.24% 0.023 275);
    --slate-600: oklch(78.98% 0.024 274.75);
    --slate-700: oklch(85.27% 0.025 274.5);
    --slate-800: oklch(91.83% 0.025 274.25);
    --slate-900: oklch(96.73% 0.015 274);
    --slate-950: oklch(98.7% 0.005 273.75);

    --slate-a25: oklch(46.36% 0.3212 264.1 / 0.034);
    --slate-a50: oklch(81.5% 0.1016 275.3 / 0.181);
    --slate-a100: oklch(85.19% 0.0807 276.7 / 0.244);
    --slate-a200: oklch(87.96% 0.0644 272.7 / 0.307);
    --slate-a300: oklch(91.4% 0.0455 273.4 / 0.454);
    --slate-a400: oklch(93.17% 0.036 274.8 / 0.576);
    --slate-a500: oklch(93.79% 0.0328 276.2 / 0.681);
    --slate-a600: oklch(94.24% 0.0301 272.8 / 0.774);
    --slate-a700: oklch(94.78% 0.0272 271.5 / 0.862);
    --slate-a800: oklch(94.86% 0.0269 274.3 / 0.954);
    --slate-a900: oklch(97.08% 0.0151 270.6 / 0.996);
    --slate-a950: oklch(99.12% 0.0045 269.1 / 0.996);
  }
}
