:root {
  --teal-25: oklch(98.75% 0.005 165.01);
  --teal-50: oklch(97.14% 0.01 165.01);
  --teal-100: oklch(94.92% 0.017 159.12);
  --teal-200: oklch(91.17% 0.042 159.41);
  --teal-300: oklch(84.36% 0.078 159.73);
  --teal-400: oklch(77.43% 0.114 160.34);
  --teal-500: oklch(70.5% 0.152 159.82);
  --teal-600: oklch(59.39% 0.134 160.06);
  --teal-700: oklch(50.83% 0.115 159.95);
  --teal-800: oklch(39.98% 0.091 159.85);
  --teal-900: oklch(29.03% 0.065 160.33);
  --teal-950: oklch(18.45% 0.042 160.16);

  --teal-a25: oklch(52.19% 0.1949 150.6 / 0.024);
  --teal-a50: oklch(51.43% 0.1822 153.3 / 0.055);
  --teal-a100: oklch(46.88% 0.1789 149.9 / 0.091);
  --teal-a200: oklch(54.37% 0.2086 150 / 0.181);
  --teal-a300: oklch(55.25% 0.2092 150.5 / 0.326);
  --teal-a400: oklch(56.18% 0.2069 151.6 / 0.479);
  --teal-a500: oklch(56.83% 0.2031 153 / 0.648);
  --teal-a600: oklch(46.46% 0.1632 153.8 / 0.742);
  --teal-a700: oklch(38.27% 0.1325 154.5 / 0.797);
  --teal-a800: oklch(30.31% 0.101 156.4 / 0.867);
  --teal-a900: oklch(22.44% 0.072 158.3 / 0.926);
  --teal-a950: oklch(16.17% 0.0487 162.1 / 0.981);

  &.dark {
    --teal-25: oklch(18.56% 0.038 161.5);
    --teal-50: oklch(31.1% 0.065 161.25);
    --teal-100: oklch(36.2% 0.08 161);
    --teal-200: oklch(41.53% 0.083 160.75);
    --teal-300: oklch(53.63% 0.12 160.5);
    --teal-400: oklch(63.05% 0.141 160.25);
    --teal-500: oklch(70.79% 0.158 160);
    --teal-600: oklch(77.27% 0.127 159.75);
    --teal-700: oklch(84.38% 0.095 159.5);
    --teal-800: oklch(91.26% 0.063 159.25);
    --teal-900: oklch(96.18% 0.033 159);
    --teal-950: oklch(98.7% 0.009 158.75);

    --teal-a25: oklch(83.11% 0.3608 145.6 / 0.026);
    --teal-a50: oklch(86.56% 0.2633 157.1 / 0.169);
    --teal-a100: oklch(87.16% 0.2525 158.5 / 0.236);
    --teal-a200: oklch(88.49% 0.2197 159.3 / 0.299);
    --teal-a300: oklch(88.41% 0.2207 159.8 / 0.467);
    --teal-a400: oklch(88.8% 0.2119 159.8 / 0.601);
    --teal-a500: oklch(89.01% 0.2075 159.5 / 0.715);
    --teal-a600: oklch(91.39% 0.156 159.7 / 0.782);
    --teal-a700: oklch(93.9% 0.1064 159.4 / 0.858);
    --teal-a800: oklch(96.05% 0.0668 159 / 0.929);
    --teal-a900: oklch(97.95% 0.0339 158.6 / 0.975);
    --teal-a950: oklch(99.38% 0.01 160.3 / 0.992);
  }
}
