:root {
  --violet-25: oklch(98.85% 0.005 274.97);
  --violet-50: oklch(97.24% 0.01 274.97);
  --violet-100: oklch(94.92% 0.017 282.55);
  --violet-200: oklch(91.94% 0.04 280.9);
  --violet-300: oklch(85.77% 0.071 279.53);
  --violet-400: oklch(79.58% 0.105 280.14);
  --violet-500: oklch(73.46% 0.14 279.67);
  --violet-600: oklch(61.86% 0.137 280.18);
  --violet-700: oklch(52.88% 0.116 279.89);
  --violet-800: oklch(41.59% 0.091 280.11);
  --violet-900: oklch(30.39% 0.066 280.54);
  --violet-950: oklch(19.29% 0.04 279.77);

  --violet-a25: oklch(44.1% 0.2435 261.9 / 0.02);
  --violet-a50: oklch(38.7% 0.2438 263.9 / 0.044);
  --violet-a100: oklch(35.98% 0.238 264 / 0.075);
  --violet-a200: oklch(45.55% 0.3017 263.9 / 0.126);
  --violet-a300: oklch(45.08% 0.2992 263.8 / 0.22);
  --violet-a400: oklch(44.58% 0.3006 263.9 / 0.31);
  --violet-a500: oklch(44.68% 0.3039 263.9 / 0.4);
  --violet-a600: oklch(34.03% 0.2329 264 / 0.53);
  --violet-a700: oklch(26.43% 0.1782 263.8 / 0.624);
  --violet-a800: oklch(19.25% 0.1263 263.6 / 0.738);
  --violet-a900: oklch(13.81% 0.0911 263.7 / 0.84);
  --violet-a950: oklch(9.817% 0.0586 262.5 / 0.934);

  &.dark {
    --violet-25: oklch(17.01% 0.04 281.5);
    --violet-50: oklch(31.09% 0.075 281.25);
    --violet-100: oklch(37.25% 0.101 281);
    --violet-200: oklch(42.68% 0.109 280.75);
    --violet-300: oklch(54.74% 0.127 280.5);
    --violet-400: oklch(64.22% 0.142 280.25);
    --violet-500: oklch(72.91% 0.142 280);
    --violet-600: oklch(79.72% 0.104 279.75);
    --violet-700: oklch(85.63% 0.071 279.5);
    --violet-800: oklch(91.85% 0.039 279.25);
    --violet-900: oklch(96.47% 0.016 279);
    --violet-950: oklch(99% 0.004 278.75);

    --violet-a25: oklch(46.64% 0.3232 264.1 / 0.059);
    --violet-a50: oklch(62.84% 0.2187 278.1 / 0.274);
    --violet-a100: oklch(63.07% 0.2181 279.2 / 0.4);
    --violet-a200: oklch(65.7% 0.2009 279.3 / 0.484);
    --violet-a300: oklch(69.93% 0.1739 279.5 / 0.681);
    --violet-a400: oklch(71.53% 0.1644 280.4 / 0.845);
    --violet-a500: oklch(74.72% 0.1443 280.1 / 0.971);
    --violet-a600: oklch(81.37% 0.1036 279.2 / 0.975);
    --violet-a700: oklch(86.85% 0.0722 280.4 / 0.979);
    --violet-a800: oklch(92.8% 0.0386 279.5 / 0.988);
    --violet-a900: oklch(96.98% 0.0161 281.3 / 0.992);
    --violet-a950: oklch(99.2% 0.0043 286.3 / 0.996);
  }
}
