:root {
  --yellow-25: oklch(98.85% 0.006 84.57);
  --yellow-50: oklch(97.24% 0.011 84.57);
  --yellow-100: oklch(94.98% 0.017 88);
  --yellow-200: oklch(91.76% 0.042 88.8);
  --yellow-300: oklch(85.32% 0.078 89.36);
  --yellow-400: oklch(78.94% 0.115 89.86);
  --yellow-500: oklch(72.69% 0.149 89.88);
  --yellow-600: oklch(61.17% 0.125 89.79);
  --yellow-700: oklch(52.33% 0.107 89.77);
  --yellow-800: oklch(41.1% 0.084 90.5);
  --yellow-900: oklch(30.06% 0.061 89.78);
  --yellow-950: oklch(19.16% 0.039 89.7);

  --yellow-a25: oklch(65.95% 0.1602 72.78 / 0.032);
  --yellow-a50: oklch(58.51% 0.1397 77.85 / 0.063);
  --yellow-a100: oklch(53.18% 0.1257 82.43 / 0.11);
  --yellow-a200: oklch(62.51% 0.1483 81.2 / 0.216);
  --yellow-a300: oklch(63.71% 0.1505 83.84 / 0.393);
  --yellow-a400: oklch(64.58% 0.153 83.09 / 0.581);
  --yellow-a500: oklch(65.98% 0.1557 86.3 / 0.793);
  --yellow-a600: oklch(53.9% 0.1274 84.59 / 0.844);
  --yellow-a700: oklch(45.48% 0.1074 86.06 / 0.879);
  --yellow-a800: oklch(35.92% 0.0847 87.86 / 0.926);
  --yellow-a900: oklch(27.16% 0.0641 89.15 / 0.965);
  --yellow-a950: oklch(18.19% 0.0429 89.99 / 0.993);

  &.dark {
    --yellow-25: oklch(21.9% 0.04 86.7);
    --yellow-50: oklch(32.26% 0.065 87.78);
    --yellow-100: oklch(38.6% 0.078 88.5);
    --yellow-200: oklch(42.5% 0.086 89.77);
    --yellow-300: oklch(55.33% 0.113 89.79);
    --yellow-400: oklch(63.77% 0.13 89.86);
    --yellow-500: oklch(72.81% 0.148 90);
    --yellow-600: oklch(79.26% 0.12 89.79);
    --yellow-700: oklch(85.6% 0.101 88.8);
    --yellow-800: oklch(92.18% 0.047 88);
    --yellow-900: oklch(96.85% 0.02 85.8);
    --yellow-950: oklch(99.12% 0.005 84.57);

    --yellow-a25: oklch(75.02% 0.2124 54.77 / 0.068);
    --yellow-a50: oklch(83.88% 0.1995 81.01 / 0.194);
    --yellow-a100: oklch(85.33% 0.1987 84.77 / 0.274);
    --yellow-a200: oklch(86.15% 0.1974 87.39 / 0.32);
    --yellow-a300: oklch(87.15% 0.191 88.88 / 0.5);
    --yellow-a400: oklch(87.88% 0.1866 89.27 / 0.622);
    --yellow-a500: oklch(88.1% 0.184 89.4 / 0.757);
    --yellow-a600: oklch(90.92% 0.1408 89.75 / 0.82);
    --yellow-a700: oklch(92.52% 0.1107 88.54 / 0.895);
    --yellow-a800: oklch(96.54% 0.05 88.14 / 0.937);
    --yellow-a900: oklch(98.55% 0.0199 86.86 / 0.975);
    --yellow-a950: oklch(99.7% 0.0045 89.18 / 0.992);
  }
}
