---
import "@fontsource-variable/nunito";
import "@fontsource-variable/inter";
import "../styles/vendor";
import "../styles/global.css";
import Theme from "../components/Theme.astro";
import Header from "../components/Header.astro";
---

<style is:global>
  article {
    padding: 24px;
  }
</style>

<html lang="en">
  <head>
    <Theme />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <article>
      <slot />
    </article>
  </body>
</html>
